<h1 class="my-4" style="text-align: center">Corrige ton potin !</h1>



<% if @gossip !=nil%>
  <div class="card bg-light text-danger">
    <% @gossip.errors.each do |attr, msg|  %>
      <%= msg %><br />
    <% end %>
  </div>
<% end %>
    <div class="container">

      <%= form_tag url_for(action: 'update'), method: "patch" do %>
        <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %> >
        <br />
        <div class="row justify-content-center align-self-center mx-5">
          <div class="col-3">
          <%= label_tag 'Le titre' %>
          </div>
          <div class="col-3">
          <%= text_field_tag 'gossip_title', value = @gossip.title, options = {style:"width:100%"} %>
          </div>
        </div>     
        <br />
        <div class="row justify-content-center align-self-center mx-5">
          <div class="col-3">
            <%= label_tag 'Dis nous tout' %>
          </div>
          <div class="col-3">
            <%= text_area_tag 'gossip_content', value = @gossip.content, options = {style:"min-height:120px;width:100%"}%>
            <br />
            <br />
            
            <%= submit_tag "Valider", class: 'btn btn-primary'  %>
          </div>
          
        </div>
        <br />

      <% end %>

      <div style="text-align: center">
      <%= form_tag gossip_path(@gossip.id), method: "delete" do %>
        <%= submit_tag "Supprimer", class: 'btn btn-primary'%>
      <% end %>
      </div>

    </div>