<h1 class="my-4" style="text-align: center"><%= @gossip.title %></h1>

<br>
<h2> Contenu </h2><br>
<p> <%= @gossip.content %> </p>

<br>

<h2> Auteur </h2><br>
<p> <%= @author.first_name %> <%= @author.last_name %> </p>

<br>

<h2> Ville </h2><br>
<p> <%= @city.name %> </p>

<br>

<h2> Date de création </h2><br>
<p> <%= @gossip.created_at %> </p>

<a class="btn btn-primary" href="/author/<%= @gossip.user_id %>">Découvrir l'auteur</a>